# Node modules
node_modules/

# System Files
.DS_Store

# Local development
local-config.php
wp-config.php
.htaccess

# Build files
/css/
/js/*.min.js

# Zipped Exports
.zip

# API Keys and Sensitive Data
inc/api-keys.php
.env
api-keys.php
google-api-key.php
inc/google-fonts-api-key.php