.single-uwp_landing_pages {

    .row {
        @media (max-width: 767px) {
            padding: 15px;
        }
    }
    margin-top: 120px;

    .align-left {
        padding: 0 15px;

        @media (max-width: 767px) {
            padding: 0;
        }
    }

    .align-right {
        padding: 0 15px;

        @media (max-width: 767px) {
            padding: 0;
        }
    }

    .lp-hero {
        padding-bottom: 30px;

        @media (max-width: 767px) {
                padding: 0;
            }

        .row {
            align-items: center;
        }

        .lp-hero-image {
            margin-bottom: -7px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }

        .button-box {
            margin-bottom: 15px;
        }

        @media (min-width: 769px) and (max-width: 1023px) {

            h1 {
                font-size: 24px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }

    .about-section {
        .row {
            align-items: center;
        }

        .image {
            margin-bottom: -7px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }

        .amre-btn {
            margin-bottom: 30px;

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
    }

    .services-container {
        padding: 30px 0;

        @media (max-width: 767px) {
            padding: 0;
        }
    }

    .lp-gallery-carousel {
        background-color: $white;
        height: 270px;
        overflow: hidden;
    }

}

.mobile-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.mobile-button {
    flex: 1;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.mobile-button i {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .mobile-buttons {
        display: none;
    }
}
